:root {
    --hover-color: #404bbf;
    --main-brandcolor: #2e2f42;
    --main-backgroundcolor: #f4f4fd;
    --logo-buttonscolor: #4d5ae5;
    --main-white: #ffffff;
    --main-textcolor: #434455;
    --header-border-bottom: #e7e9fc;
    --customers-color: #8e8f99;
    --hoverfooter-link: #31d0aa;
    --modal-backgroundcolor: #fcfcfc;
    --modal-border: rgba(46, 47, 66, 0.4);
}

/**
  |============================
  | Reset 
  |============================
*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-white);
    color: var(--main-textcolor);
}

/**
  |============================
  | Common styles
  |============================
*/

.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

/**
  |============================
  | Header styles
  |============================
*/

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-buttonscolor);
}

.header {
    background-color: var(--main-white);
    border-bottom: 1px solid var(--header-border-bottom);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.logo-color {
    color: var(--main-brandcolor);
}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-brandcolor);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

.active {
    color: var(--hover-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.header-link:active {
    color: var(--hover-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--hover-color);
}

@media only screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-list {
        margin-right: 122px;
    }
}

@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-list {
        margin-right: 332px;
    }
}

@media only screen and (min-width: 768px) {
    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }

    .header-address-link {
        font-size: 12px;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.48px;
        color: var(--main-textcolor);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (min-width: 1158px) {
    .header-address-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

@media only screen and (max-width: 767px) {
    .header-list {
        display: none;
    }

    .header-address-list {
        display: none;
    }
}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    background-color: var(--main-brandcolor);
    padding: 112px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgmob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgmob@2x.jpg);
    }
}

@media only screen and (min-width: 429px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgtab@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgtab@2x.jpg);
        }
    }
}

@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgdesc@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgdesc@2x.jpg);
        }
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    color: var(--main-white);
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-btn {
    background: var(--logo-buttonscolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--hover-color);
}

/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
    padding: 96px 0;
}

.benefits-item-title {
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }

    .benefits-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
}

.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.32px;
}

@media only screen and (max-width: 1157px) {
    .benefits-list-icon {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .benefits-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {
    .benefits-item-title {
        text-align: left;
    }

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-text {
        font-weight: 400;
    }

    .benefits-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }

    .benefits-list-icon {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .benefits-icon-box {
        display: flex;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        background-color: var(--main-backgroundcolor);
        margin-bottom: 8px;
        height: 112px;
    }
}

/**
  |============================
  | What we do styles
  |============================
*/

@media only screen and (max-width: 1157px) {
.what-we-do {
    display: none;
}
}

.what-we-do {
    padding-bottom: 120px;
}

.what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-brandcolor);
    padding-bottom: 72px;
}

.what-we-do-list {
    display: flex;
    gap: 24px;
}

.what-we-do-list-item {
    width: calc((100%-48px) / 3);
}

.what-we-do-list-item:last-child {
    margin-right: 0;
}

/**
  |============================
  | Our team styles
  |============================
*/
.team {
    background-color: var(--main-backgroundcolor);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-brandcolor);
    margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.team-list-item {
    background-color: var(--main-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-brandcolor);
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.socials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}

.team-member {
    padding: 32px 0;
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--logo-buttonscolor);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item a:hover,
.social-link-item a:focus {
    background-color: var(--hover-color);
}

.social-link-icon {
    fill: var(--main-backgroundcolor);
}

/**
  |============================
  | Customers styles
  |============================
*/

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    color: var(--main-brandcolor);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
    margin: 0 auto;
    max-width: 396px;
}

.customers-list-item {
    flex-basis: calc((100% - 16px) / 2);
}

@media (min-width: 768px) and (max-width: 1157.9px) {
    .customers-list {
        max-width: 584px;
    }
}

@media only screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }

    .customers-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media only screen and (min-width: 1158px) {
    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-list-item {
        flex-basis: calc((100% - 120px) / 6);
    }
}

.customers-links {
    border: 1px solid var(--customers-color);
    width: 190px;
    height: 88px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
.customers-links {
    width: 168px;
}
}

.customers-links:hover,
.customers-links:focus,
.customers-links:active {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.customer-list-icon {
    fill: currentColor;
}

/**
  |============================
  | Footer styles
  |============================
*/

.footer {
    background-color: var(--main-brandcolor);
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--logo-buttonscolor);
    display: inline-block;
    margin-bottom: 16px;
}

.slogan {
    text-align: center;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0px;
    margin: 0 auto;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-backgroundcolor);
    max-width: 264px;
}

.logo-foot {
    color: var(--main-backgroundcolor);
}

.socials {
    text-align: center;
    margin: 0 auto;
}

.footer-list-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-white);
    margin-bottom: 16px;
}

.socials-footer-list {
    display: flex;
    gap: 16px;
}

.social-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--logo-buttonscolor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-footer {
    width: 40px;
    height: 40px;
}

.social-icon-footer {
    fill: var(--main-backgroundcolor);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--hoverfooter-link);
}

.subscribe {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.subscribe-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-white);
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}


.subscribe-form-label {
    width: 100%;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--main-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    color: var(--main-white);
    padding-left: 16px;
    background-color: transparent;
}

.subscribe-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--main-white);
    background-color: var(--logo-buttonscolor);
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: var(--hover-color);
}

.footer-btn-icon {
    fill: currentColor;
    margin-left: 16px;
}

@media only screen and (min-width: 768px) {

    .footer-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0;
        width: 552px;
    }

    .footer-text {
        text-align: left;
    }

    .slogan {
        margin: 0;
        text-align: left;
        margin-bottom: 72px;
    }

    .socials {
        margin: 0;
        text-align: left;
        margin-left: 24px;
    }

    .subscribe {
        text-align: left;
        padding: 0;
    }

    .subscribe-form {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form-input {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-wrapper {
        width: 1128px;

    }

    .slogan {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .socials {
        margin-left: 0;
        margin-right: 80px;
    }

    }

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio.section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    color: var(--logo-buttonscolor);
    background-color: var(--main-backgroundcolor);
    border: 1px solid var(--header-border-bottom);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-btn:hover {
    background-color: var(--hover-color);
    color: var(--main-white);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-btn:focus {
    background-color: var(--hover-color);
    color: var(--main-white);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: 360px;
    background-color: #FFFFFF;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-brandcolor);
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-brandcolor);
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid var(--header-border-bottom);
    border-top: none;
}

.port-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-links:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-links:focus .overlay-text {
    transform: translateY(0);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    display: flex;
    color: #F4F4FD;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateY(100%);
    background-color: #4D5AE5;
    display: flex;
    padding: 40px 32px;
    width: 100%;
    height: 300px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Modal styles
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 392px;
    min-height: 584px;
    background: var(--modal-backgroundcolor);
    padding: 72px 16px 24px;
}

@media only screen and (max-width: 427px) {
    .modal {
    width: 316px;
    }
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .modal {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gallery-button-border);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--hover-color);
    border: none;
    fill: var(--main-white);
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--main-brandcolor);
    margin-bottom: 16px;
}

.label-div {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
    color: var(--customers-color);
}

.input-svg-div {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modal-border);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--main-brandcolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--logo-buttonscolor);
}

.modal-form-input:focus {
    border-color: var(--logo-buttonscolor);
}

.label-div-comment {
    margin-bottom: 16px;
}

.modal-comment-input {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--modal-border);
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    background-color: transparent;
    color: var(--modal-border);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-input:focus {
    border-color: var(--logo-buttonscolor);
}

.form-agreement-div {
    margin-bottom: 24px;
}

.modal-form-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--modal-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement {            
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--customers-color);
}

.modal-form-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--logo-buttonscolor);
}

.modal-form-checkbox:checked + .modal-form-agreement .modal-form-custom-checkbox {
    fill: var(--main-backgroundcolor);
    border: none;
    background-color: var(--hover-color);
}

.modal-form-checkbox:focus + .modal-form-agreement .modal-form-custom-checkbox {
    border-color: var(--hover-color);
}

@media only screen and (min-width: 1158px) {
    .modal-form-checkbox:hover + .modal-form-agreement .modal-form-custom-checkbox {
        border-color: var(--hover-color);
    }
}

.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--logo-buttonscolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--main-white);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--hover-color);
}

/**
  |============================
  | Mobile menu styles
  |============================
*/

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 24px 0;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle-icon {
    stroke: var(--main-brandcolor);
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--main-white);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.list-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.list-nav-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--main-brandcolor);
}

.is-active {
    color: var(--hover-color);
}

.list-contact-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.list-contact-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--logo-buttonscolor);
}

.list-contact-menu-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--main-textcolor);
}

.menu-social {
    display: flex;
    gap: 56px;
}

@media only screen and (max-width: 427.98px) {
    .list-contact-menu-link {
        font-size: 24px;
    }

    .menu-social {
        gap: 28px;
    }
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--logo-buttonscolor);
}

.icon-menu-social {
    fill: var(--main-backgroundcolor);
}

.menu-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}