:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #fcfcfc;
}

/**
  |============================
  | Reset
  |============================
*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--white-background);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 16px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
}



/**
  |============================
  | Header styles
  |============================
*/

.header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.logo-color {
    color: var(--dark);
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px
;
}

.header-item {}

.header-link {
    font-weight: 500;
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus, .header-link.active {
    color: var(--pressed-state); 
}

.header-link.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--pressed-state);
    border-radius: 2px;
}

.header-address {
    font-style: normal;
    letter-spacing: 0.02em;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
    color: var(--text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover {
    color: var(--pressed-state);
}
.header-address-link:focus {
    color: var(--pressed-state);
}

/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    color: var(--white-background);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-btn {
    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--pressed-state);
}

/**
  |============================
  | Benefits styles
  |============================
*/
.section {}

.benefits {
    padding: 96px 0;
}
.benefits-item-title {
    font-size: 36px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: var(--dark);
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 1158px) {
.benefits {
        padding: 120px 0;
    }

    .benefits-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--dark);
        margin-bottom: 8px;
        }

    .benefits-text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.32px;
        }
}

@media only screen and (max-width: 1157px) {
    .benefits-list-icon {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .benefits-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {
.benefits-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

}

@media only screen and (min-width: 1158px) {
    .benefits-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        }

    .benefits-list-item {
        flex-basis: calc((100% - 72px) / 4);
        }

    .benefits-list-icon {
        display: inline-block;
    }
    
    .benefits-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light);
        margin-bottom: 8px;
        }


} 

.benefits-title {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}


/**
  |============================
  | What we do styles
  |============================
*/
.section.what-we-do {
padding-bottom: 120px;
}

.what-we-do {}

.what-we-do-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.what-we-do-container {}

.what-we-do-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.what-we-do-list-item {}

/**
  |============================
  | Our team styles
  |============================
*/
.section.team {
padding-top: 120px;
padding-bottom: 120px;
}

.team {
background-color: var(--light);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: var(--white-background);
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-member {
    padding: 32px 0;
}

.socials-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.social-link-item {}

.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-brand); 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
background-color: var(--pressed-state);
}

.social-link-icon {
    fill: var(--light)
}

/**
  |============================
  | Customers styles
  |============================
*/

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.section.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.customers-links {
display: flex;
width: 168px;
height: 88px;
color: #8E8F99;
align-items: center;
justify-content: center;
border: 1px solid var(--subtle-text);
border-radius: 4px;
transition-property: border-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-icon {
fill: currentColor;
}

.customers-links:hover .customer-list-icon {
fill: var(--pressed-state);
}

.customers-links:hover, .customers-links:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state)
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio.section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section {}

.portfolio-title {}

.portfolio-list-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    color: var(--primary-brand);
    background-color: var(--light);
    border: 1px solid var(--accent);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-btn:hover {
    background-color: var(--pressed-state);
    color: var(--white-background);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }

.portfolio-btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: 360px;
    background-color: #FFFFFF;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
    }

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    }

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.port-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-links:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-links:focus .overlay-text {
    transform: translateY(0);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    display: flex;
    color: #F4F4FD;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateY(100%);
    background-color: #4D5AE5;
    display: flex;
    padding: 40px 32px;
    width: 100%;
    height: 300px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.slogan {
margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
    }
    
    .logo-foot {
    color: var(--light);
    }
    
.footer-text {
    color: var(--light);
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-list-header {
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--white-background);
}

.socials-footer-list {
    display: flex;
    gap: 16px;
}

.social-item-footer {
    width: 40px;
    height: 40px;
}

.social-link-footer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
background-color: var(--success)
}

.socials {
margin-right: 80px;
}

.social-icon-footer {
    fill: var(--light)
}

/**
  |============================
  | Footer subscribe form
  |============================
*/

.subscribe {}

.subscribe-header {
    margin-bottom: 16px;
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-label {}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    color: var(--white-background);
    font-size: 12px;
    letter-spacing: 0.48px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form-input:focus {
    border-color: var(--primary-brand);
}

.subscribe-form-input::placeholder {
    color: currentColor;
}

.subscribe-btn {
    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    min-width: 165px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.subscribe-btn:hover, .subscribe-btn:focus {
    background-color: var(--pressed-state);
}

.footer-btn-icon {
    fill: var(--white-background);
    margin-left: 16px;
}

/**
  |============================
  | Modal styles
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px; 
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    color: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    background-color: transparent;
    position: absolute;
    border: none;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-button:hover, .modal-button:focus {
    background-color: var(--pressed-state);
    border: none;
    fill: #ffffff;
    }


/**
  |============================
  | Form styles
  |============================
*/
.modal-caption {
    display: block;
    color: var(--dark);
    width: 360px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}

.modal-form {}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.label-div {
    margin-bottom: 8px;
}

.input-svg-div {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
}

.modal-form-input:focus {
    border-color: var(--primary-brand);
}

.modal-form-icon {
    fill: var(--dark);
    position: absolute;
    bottom: 8px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand);
}

.label-div-comment {
    margin-bottom: 16px;
}

.modal-comment-input {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-input:focus {
    border-color: var(--primary-brand);
}

.modal-comment-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-input:focus::placeholder {
    opacity: 1;
}

.form-agreement-div {
    margin-bottom: 24px;
}

.modal-form-agreement {
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.modal-form-checkbox {}

.modal-form-custom-checkbox {
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-right: 8px;

}

.modal-form-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-agreement .modal-form-custom-checkbox {
    border: none;
    background-color: var(--pressed-state);
    fill: var(--light);
}

.modal-form-checkbox:checked + .modal-form-agreement .modal-form-custom-checkbox > .modal-form-checkbox-icon {
    opacity: 1;
}

.modal-form-checkbox:focus + .modal-form-agreement .modal-form-custom-checkbox {
    border-color: var(--pressed-state);
}

.modal-form-checkbox:hover + .modal-form-agreement .modal-form-custom-checkbox {
    border-color: var(--pressed-state);
}

.modal-form-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-btn {
    color: var(--white-background);
    background-color: var(--primary-brand);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

